In [1]:
import pandas as pd

def extract_pokemon_data():
    pokemon_data = pd.read_csv('pokemon.csv', index_col='#')
    return pokemon_data

In [2]:
def clean_pokemon_data(pokemon_data):
    #Convert Name and Type columns from objects to strings
    pokemon_data['Name'] = pokemon_data['Name'].astype(str)
    pokemon_data['Type 1'] = pokemon_data['Type 1'].astype(str)
    pokemon_data['Type 2'] = pokemon_data['Type 2'].astype(str)

    # Replace a Nan for a missing type with None
    pokemon_data['Type 2'] = pokemon_data['Type 2'].replace('nan', 'None')
    pokemon_data['Type 1'] = pokemon_data['Type 1'].replace('nan', 'None')
    return pokemon_data

def relevant_pokemon_data(pokemon_data):
    return pokemon_data.drop(columns=['Name', 'Generation', 'Legendary'])

In [3]:
def extract_clean_relevant_pokemon_data():
    clean_data = clean_pokemon_data(extract_pokemon_data())
    return relevant_pokemon_data(clean_data)

In [9]:
extract_clean_relevant_pokemon_data().head()

  Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
#
1  Grass  Poison  45      49       49       65       65     45
2  Grass  Poison  60      62       63       80       80     60
3  Grass  Poison  80      82       83      100      100     80
4  Grass  Poison  80     100      123      122      120     80
5   Fire    None  39      52       43       60       50     65

In [5]:
def extract_combat_data():
    #This is just three columns of type int64. No cleaning to do
    return pd.read_csv('combats.csv')

In [6]:
combat_data = extract_combat_data()
combat_data.head()

   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151